.success {
  color: green;
  background: lightgrey;
}

.error {
  color: red;
  background: lightgrey;
}

.notification {
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
